{% extends "base.html" %}

{% block content %}

{% for article in articles_page.object_list %}
<article class="post">
    <h4 class="post-title"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h4>
    <ul class="post-list">
        <li>{{ article.date|strftime('%d %B %Y') }}</li>
    </ul>

    <div class="post-content">
        <img src="{{ article.image }}">
        {{ article.summary }}
        <a class="button" href="{{ SITEURL }}/{{ article.url }}">Read more...</a>
    </div>
</article>
{% endfor %}

{% endblock %}
